/* ===== Geral ===== */

* {
    box-sizing: border-box; /* Vai garantir que o padding e o border sejam calculados dentro das dimensões especificadas*/
}

body {
    /* Dimensões */
    margin: 0;
    padding: 0;
    
    /* Estilo */
    background-image: url('/Assets/plano-de-fundo-site.svg'); 
    
    /* Posicionamento */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.cinzel-titulos {
    /* Textos*/
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;

    /* Cores */
    color: #e8e0cf;
}

.montserrat-textos {
    /* Textos*/
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;

    /* Cores */
    color: #e8e0cf;
}

/* ===== Header ===== */

/* =====  Barra de navegação ===== */

.main-header {
    /* Dimensões */
    width: 100%;
    height: 15vh;
    padding: 0 50px;

    /* Posicionamento */
    position: sticky; /* Deixando o header fixo no topo, mesmo ao rolar a página*/
    top: 0;
    z-index: 1000; /* Garante que o header fique por cima de todos os elementos*/

    /* Cores*/
    background-color: #0b1118;

    /* Posicionamento*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

/* ===== Container da logo ===== */

.logo-container {
    /* Dimensões */
    height: 70%;
    
    /* Posicionamento */
    display: flex;
    align-items: center;
}

.pd-logo {
    /* Dimensões*/
    height: 100%;
    width: auto;
    object-fit: contain; /** Dimensionamento da logo sem causar distorção/

    /* Posicionamento */
    display: flex;
    align-items: center;
}

/* ===== Menu de navegação ===== */

.main-nav ul {
    /*Dimensões*/
    margin: 0;
    padding: 0;

    /* Posicionamento*/
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px; /*Espaçamento entre os elementos*/

    /* Estilo */
    list-style: none;
}

.link-style {
    /* Dimensões */
    padding: 8px 16px;

    /*Textos*/
    font-size: 15px;
    font-weight: 500;

    /* Estilo */
    text-decoration: none;
}

.link-style:hover {
    border-radius: 5px;
    background-color:  #33485a;
    border-bottom: 3px solid #4B1F25;
}

/* ===== Main ===== */

/* ===== Seção de destaque ===== */

.highlight-area {
    /* Dimensões */
    width: 100%;
    height: 85vh; /* O header já ocupa 15vh*/

    /* Posicionamento */
    display: flex;
    flex-direction: row;
    align-items: center; 
    justify-content: space-between;
    
}

/* ===== Coluna da esquerda (Título) ===== */

.titulo-destaque {
    /* Dimensões */
    width: 15%;
    height: 100%;

    /* Posicionamneto*/
    display: flex; /* Centralizar o h2 */
    align-items: center;
    justify-content: center;

    /* Cores */
    background-color: #33485a;
}

.titulo-destaque h2 {
    /* Dimensões */
    margin: 0; 

    /* Posicionamento */
    writing-mode: vertical-lr; /* Define o fluxo do texto na vertical (de cima para baixo) */
    transform: rotate(180deg); /* Gira o texto 180 graus para ler confortavelmente de baixo para cima */
    text-align: center;
    white-space: nowrap; /* Impede que o título quebre linhas no meio do texto */

    /* Textos */
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 5px;
}

/* ===== Coluna central (Imagem) ===== */

.imagem-destaque {
    /* Dimensões */
    width: 65%;
    height: 100%;

    /* Posicionamento*/
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem-destaque img {
    /* Dimensões */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preenche todo o espaço da div, sem distorcer a imagem*/
}

/* ===== Coluna da direita (Texto) ===== */

.texto-destaque {
    /* Dimensões*/
    width: 20%;
    height: 100%;

    /* Posicionamento*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    /* Cores */
    background-color: #151f2a;
}

.texto-destaque p {
    /* Dimensões */
    width: 90%;
    margin: 0;
    padding: 5px;
    
    /* Posicionamento */
    text-align: center;

    /* Textos */
    font-size: 25px;
    font-weight: 500;
    line-height: 1.6; /* Aumenta a altura da linha para facilitar a leitura */
    color: #c0c8d0;

    /* Estilo */
    background-color: #c49a52;
}

/* ===== Seção de produtos ===== */

.succes-section {
    /* Dimensões */
    width: 100%;
    padding: 60px 40px;
}

/* ===== Container do titulo ===== */

.section-title-container {
    /* Dimensões */
    margin-bottom: 40px;

    /* Posicionamento */
    text-align: center;
}

.section-title-container h2 {
    /* Textos */
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 500;
}

.games-and-products {
    /* Posicionamento */
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap; /* Quebra os card se a tela for pequena*/

}

.games-and-products .game-card {
    /* Dimensões */
    width: 30%; 
    min-width: 250px; /* Garante tamanho mínimo em telas menores */

    /* Cores */
    background-color: #151f2a;
    border: 2px solid  #c49a52;
    border-radius: 12px;
    
    /* Posicionamento */
    display: flex;
    flex-direction: column;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}

.card-image-container {
    /* Dimensões */
    width: 100%;
    height: 280px;
    overflow: hidden;
}

.card-image-container img {
    /* Dimensões */
    width: 100%;
    height: 100%;
    object-fit: cover; /* Preencher o espaço disponível sem distorcer a imagem*/
}

.card-content h3 {
    /* Dimensões */
    margin: 2px;

    /*Textos*/
    font-size: 20px;
    color: #e8e0cf;
    text-align: center;
}

.card-content p {
    /* Dimensões */
    margin: 2px;

    /*Textos*/
    font-size: 15px;
    color: #e8e0cf;
    text-align: center;
}

.games-and-products .game-card:hover {
    /* Estilos */
    transform: translateY(-8px); /* Eleva o card levemente */
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-color: #4B1F25;
}

/* ===== Página Sobre a Empresa ===== */

.sobre-pd-games {
    /* Dimensões */
    width: 100%;
    height: 30vh;
    padding: 30px;
    padding-bottom: 0;
    
    /* Posicionamento */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sobre-pd-games h1 {
    /* Dimensões */
    margin: 0;
    padding: 0;

    /* Textos */
    font-size: 35px;
    letter-spacing: 2px;
    font-weight: 500;
}

.sobre-pd-games p {
    /* Textos */
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 300;
}

/* ===== Seção: História, Missão, Visão e Valores ===== */

.container-pilares {
    /* Posicionamento */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 60px;
}

.pilar-card {
    /* Dimensões */
    width: 45%;
    min-height: 250px;
    padding: 15px 30px;

    /* Posicionamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    text-align: center;

    /* Cores */
     background-color: #151f2a;

    /* Estilo */
    border-radius: 10px;
    border: 2px solid  #c49a52;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

.pilar-card h2 {
    /* Textos*/
    font-size: 25px;
    font-weight: 500;
}

.pilar-card p {
    /* Textos*/
    font-size: 15px;
    font-weight: 300;
}

.pilar-card:hover {
    /* Estilos */
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    border-color: #4B1F25;
}

/* ===== Seção para CTA ===== */

.cta-section {
    /* Dimensões */
    padding: 30px 15px;

    /* Posicionamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.cta-button {
    /* Dimensões */
    padding: 15px 10px;

    /* Textos */
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;

    /* Estilos */
    border-radius: 10px;

    /* Cores */
    background-color:#c49a52
}

.cta-button:hover {
    /* Estilos */
    transition: all 0.3s ease-in-out;
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
} 

/* ===== Página de Produtos ===== */

.banner-produtos {
    /* Dimensões */
    padding: 15px 0;

    /* Posicionamento */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}

.banner-produtos h1 {
    /* Textos*/
    font-weight: 500;
}

.banner-produtos p {
    /* Textos */
    font-size: 15px;
}

.container-categoria {
    /* Dimensões */
    margin-bottom: 50px;

    /* Posicionamnto */
    display: flex;
    flex-direction: column;
}

.container-categoria h2 {
    /*Dimensões*/
    margin-left: 2.5%;
    
    /* Textos*/
    text-align: left;
}

.container-produtos {
    /* Dimensões */

    /*Posicionamento*/
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;

}

.container-produtos .game-card {
    /* Dimensões */
    max-width: 20%;
    min-width: 250px;

    /* Posicionamento */
    overflow: hidden;

    /* Estilos */
    background-color: #151f2a;
    border: 1px solid #c49a52;
    border-radius: 10px;
}

.container-produtos .game-card:hover {
    /* Estilos */
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
}

.container-produtos .game-card .game-card__image {
    /* Dimensões */
    width: 100%;
    height: 200px;
}

.container-produtos .game-card .game-card__image img {
    /* Dimensões */
    width: 100%;
    height: 100%;
    
    /* Posicionamento */
    object-fit: cover;
}

.container-produtos .game-card .game-card__info {
    /* Dimensões */
    margin-bottom: 10px;
    
    /* Posicionamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;

    /* Textos */
    text-align: center;
}

.container-produtos .game-card .game-card__info span {
    /* Dimensões */
    margin-top: 10px;
    
    /* Textos */
    font-size: 12px;
    font-weight: 300;
    text-transform: uppercase;

    /* Estilos */
    color: #c49a52;
}

.container-produtos .game-card .game-card__info h3 {
    /* Dimensões */
    margin: 0;
}

.container-produtos .game-card .game-card__info p {
    /* Textos*/
    font-size: 12px;
}

.container-produtos .game-card .game-card__info a {
    /* Dimensões */
    padding: 5px;
    
    /* Posicionamento */
    display: inline-block;

    /* Textos */
    font-weight: 500;
    text-align: center;
    text-decoration: none;

    /* Estilos */
    background-color: #c49a52;
    border: solid 2px #c0c8d0;
    border-radius: 10px;
}

/* ===== Rodapé (Footer) ===== */

.main-footer {
    /* Dimensões */
    width: 100%;
    padding: 30px 20px;

    /* Cores */
    background-color: #080d13; /* Fundo ainda mais escuro para indicar o fim da página */
    
    /* Estilos */
    border-top: 1px solid #1a2736; /* Linha sutil de divisão no topo */
    
}

.footer-content {
    /* Dimensões */
    width: 100%;
    margin: 0 auto;
    
    /* Posicionamento */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px; 
    
    /* Texto */
    text-align: center;
}
